.dashboard {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;

  h1{
    background-color: transparent;
    font-size: 64px;
    font-weight: lighter;
  }
}

